.u-button-style.u-border-red {
    border-color: #000000 !important;
    color: #000000 !important;
    background-color: #efaeae !important;
}
.u-button-style.u-border-green {
    border-color: #000000 !important;
    color: #000000 !important;
    background-color: #acf7b6 !important;
}
