#1. copy this file into /etc/systemd/system, do not forget correct path into ExecStart command
#2. exec "systemctl daemon-reload"
#3. exec "systemctl enable jira-search-helper"
#4. start service "service jira-search-helper start"
[Unit]
Before=network.target
[Service]
Type=notify
TimeoutStopSec=10
ExecStart=sh -c 'cd %WORKDIR%/telegram-mailing-helper;exec poetry run python ./telegram_mailing_help/main.py %WORKDIR%/telegram-mailing-helper/config.json 2>&1'
Restart=on-failure
User=%USER%
[Install]
WantedBy=multi-user.target
